.post{ :id => "post-#{@post.id}" }
  .wrapper
    %h3= @post.title
    .body= @post.html_body

%ul#replies
  - @paged_replies.each do |reply|
    %li.reply{:id => "reply-#{reply.id}", :'data-post-id' => @post.id}
      .wrapper
        .body= reply.html_body

.pagination
  - if !@paged_replies.first_page?
    %a.prev{ :href => "/post/#{@post.id}/page/#{@paged_replies.prev_page}" } Previous
  %span.current= @paged_replies.current_page
  - if !@paged_replies.last_page?
    %a.next{ :href => "/post/#{@post.id}/page/#{@paged_replies.next_page}" } Next

#reply_box
  .wrapper
    %form#reply_form{ :method => 'post', :action => '/new_reply' }
      %fieldset
        %legend Body
        %textarea{ :name => "reply[body]", :rows => 5, :cols => 80 }
      %fieldset
        %input{ :type => "hidden", :name => "reply[post_id]", :value => @post.id }
        %input{ :type => "submit", :name => "submit", :value => "Add This Reply" }
